<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Onest-Bold.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>We use your location to calculate routes to your activity.</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>GEMINI_API_KEY</key>
    <string>$(GEMINI_API_KEY)</string>
    <key>UNSPLASH_ACCESS_KEY</key>
    <string>$(UNSPLASH_ACCESS_KEY)</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
